{% extends 'base.html' %}
{% load static %}

{% block title %}
Windows 95 OS Simulator
{% endblock %}

{% block content %}

<!-- Desktop -->
<div class="desktop">

    <div class="desktop-icons">

        <a href="/cpu/" class="desktop-icon">
            <img src="{% static 'images/cpu_scheduling.png' %}" alt="CPU">
            <div>CPU Scheduling</div>
        </a>

        <a href="/memory/" class="desktop-icon">
            <img src="{% static 'images/memory_management.png' %}" alt="Memory">
            <div>Memory Management</div>
        </a>

        <a href="/disk/" class="desktop-icon">
            <img src="{% static 'images/disk_management.png' %}" alt="Disk">
            <div>Disk Management</div>
        </a>

        <a href="/virtual/" class="desktop-icon">
            <img src="{% static 'images/virtual_memory.png' %}" alt="Virtual Memory">
            <div>Virtual Memory</div>
        </a>

    </div>

</div>

{% endblock %}