{% extends 'base.html' %}
{% load static %}

{% block title %}
Windows 95 OS Simulator
{% endblock %}

{% block content %}

<!-- Desktop -->
<div class="desktop">

    <div class="desktop-icons">

        <a href="/cpu/" class="desktop-icon">
            <img src="{% static 'images/cpu.png' %}" alt="CPU">
            <div>CPU Scheduling</div>
        </a>

        <a href="/memory/" class="desktop-icon">
            <img src="{% static 'images/memory.png' %}" alt="Memory">
            <div>Memory Management</div>
        </a>

        <a href="/disk/" class="desktop-icon">
            <img src="{% static 'images/disk.png' %}" alt="Disk">
            <div>Disk Scheduling</div>
        </a>

        <a href="/virtual/" class="desktop-icon">
            <img src="{% static 'images/virtual.png' %}" alt="Virtual Memory">
            <div>Virtual Memory</div>
        </a>

    </div>

</div>


<!-- Taskbar -->
<div class="window taskbar">

    <div class="window-body">

        <!-- Start Button -->
        <button id="start-button" class="start-button">
            <svg class="win-logo" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <rect x="1"  y="1"  width="6" height="6" fill="#F25022"/>
                <rect x="9"  y="1"  width="6" height="6" fill="#7FBA00"/>
                <rect x="1"  y="9"  width="6" height="6" fill="#00A4EF"/>
                <rect x="9"  y="9"  width="6" height="6" fill="#FFB900"/>
            </svg>
            Start
        </button>

        <!-- Open app buttons -->
        <div id="taskbar-apps" class="taskbar-apps"></div>

        <!-- Clock -->
        <div class="taskbar-right">
            <div id="clock" class="taskbar-clock">12:00 PM</div>
        </div>

    </div>

</div>

{% endblock %}